.padd{
	padding-top: 20px;
}

.comm{
	overflow: hidden;
}

.comm>span,.comm>div{
	float: left;
}

.comm>div{
	width: 7%;
	margin-left: 5px;
}

.comm-font{
	font-size: 17px;
	color: #f949cf;
	margin-left: 5px;
}

.domm>span{
	width: 30%;
	text-align: center;
	border: 1px solid #ddd;
	line-height: 30px;
	margin-top: 10px;
	border-radius: 10px;
}

.domm>span:nth-child(1){
	color: #f949cf;
	border: 1px solid #f949cf;
}

.sethead{
	width: 20%;
	float: left;
	padding-right: 7px;
}

.specific{
	width: 75%;
	overflow: hidden;
}

.specific-div{
	overflow: hidden;
}

.fr{
	font-size: 13px;
	color: #aaa;
}

.spec{
	overflow: hidden;
	float: left;
	background-color: #eee;
	padding: 10px;
}

.spec>span:nth-child(1){
	font-size: 12px;
}

.spec>div{
	width: 33.33%;
	float: left;
}

.header{
	padding-bottom: 64px;
}