<div class="footer">
<div class="footer-div">
	<div class="footer-img">
		<a ng-click="jump('footer.home')">
			<div><img src="{{imgUrl[0]}}"></div>
			<p class="{{fontUrl[0]}}">首页</p>
		</a>
	</div>
	<div class="footer-img">
		<a ng-click="jump('footer.class')">
			<div><img ng-src="{{imgUrl[1]}}"></div>
			<p class="{{fontUrl[1]}}">分类</p>
		</a>
	</div>
	<div class="footer-img">
		<a ng-click="jump('footer.shop')">
			<div><img src="{{imgUrl[2]}}"></div>
			<p class="{{fontUrl[2]}}">购物车</p>
		</a>
	</div>
	<div class="footer-img">
		<a ng-click="jump('footer.personcenter')">
			<div><img src="{{imgUrl[3]}}"></div>
			<p class="{{fontUrl[3]}}">个人中心</p>
		</a>
	</div>
</div>
</div>