
	<link rel="stylesheet" type="text/css" href="./assets/css/home.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/class.css">

<div ng-swipe-left="jump('shop')" ng-swipe-right="jump('home')">
	<div ng-include="'./view/headnav.html'"></div>

	<div class="head">
		<div>蚕丝被</div>
		<div>婴童系列</div>
		<div>真人服饰</div>
		<div>毯类</div>
	</div>

	<div class="header">
		<div class="shop-div">
			<div class="shop">
				<ul>
					<li class="shop-li">
					<a ng-click="jump('details')">
						<div class="shop-img"><img src="./image/006.png"></div>
						<div class="shop-font">
							<p>难忘今宵系列蚕丝被 </p>
							<p>Unforgettable tonight</p>
						</div>
						<div class="return"><img src="./image/return1.png"></div>
					</a>
						
					</li>
				</ul>
			
			</div>
		</div>

		<div class="shop-div">
			<div class="shop">
				<ul>
					<li class="shop-li">
					<a ng-click="jump('details')">
						<div class="shop-img"><img src="./image/006.png"></div>
						<div class="shop-font">
							<p>难忘今宵系列蚕丝被 </p>
							<p>Unforgettable tonight</p>
						</div>
						<div class="return"><img src="./image/return1.png"></div>
					</a>
						
					</li>
				</ul>
			
			</div>
		</div>

		<div class="shop-div">
			<div class="shop">
				<ul>
					<li class="shop-li">
					<a ng-click="jump('details')">
						<div class="shop-img"><img src="./image/006.png"></div>
						<div class="shop-font">
							<p>难忘今宵系列蚕丝被 </p>
							<p>Unforgettable tonight</p>
						</div>
						<div class="return"><img src="./image/return1.png"></div>
					</a>
						
					</li>
				</ul>
			
			</div>
		</div>

		<div class="shop-div">
			<div class="shop">
				<ul>
					<li class="shop-li">
					<a ng-click="jump('details')">
						<div class="shop-img"><img src="./image/006.png"></div>
						<div class="shop-font">
							<p>难忘今宵系列蚕丝被 </p>
							<p>Unforgettable tonight</p>
						</div>
						<div class="return"><img src="./image/return1.png"></div>
					</a>
						
					</li>
				</ul>
			
			</div>
		</div>
		
	</div>
	
	<!-- <div ng-include="'./view/headfooter.html'"></div> -->
	<!-- <div ui-view class="cls"></div> -->
</div>

