
	<link rel="stylesheet" type="text/css" href="./assets/css/order.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/comment.css">
<div>
	<div class="nav">
		<div class="return"><a ng-click="jump('footer.personcenter')"><img src="./image/return.png"></a></div>
		<p class="center">商品评论</p>
	</div>

	<div class="padd">
		<div>
			<div class="comm">
				<span>购买评价</span>
				<div><img src="./image/start.png"></div>
				<div><img src="./image/start.png"></div>
				<div><img src="./image/start.png"></div>
				<div><img src="./image/start.png"></div>
				<div><img src="./image/start.png"></div>
				<span class="comm-font">100%好评</span>
			</div>
			<div class="domm">
				<span>全部(66)</span>
				<span>有图(66)</span>
				<span>好评(66)</span>
				<span>中评(66)</span>
				<span>差评(66)</span>
			</div>
		</div>
	</div>

	<div class="padd header">
		<div>
			<div class="sethead"><img src="./image/sethead.png"></div>
			<div class="specific">
				<div class="specific-div">
					<span class="fl">哆啦A梦</span>
					<span class="fr">2017-2-13 21:13</span>
					<div class="spec">
						<span>大地蓝梦水乡蚕丝被</span>
						<span>这蚕丝被摸起来很舒服，睡起来也很舒服，这材料货正价实</span>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="sethead"><img src="./image/sethead.png"></div>
			<div class="specific">
				<div class="specific-div">
					<span class="fl">哆啦A梦</span>
					<span class="fr">2017-2-13 21:13</span>
					<div class="spec">
						<span>大地蓝梦水乡蚕丝被</span>
						<span>这蚕丝被摸起来很舒服，睡起来也很舒服，这材料货正价实</span>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="sethead"><img src="./image/sethead.png"></div>
			<div class="specific">
				<div class="specific-div">
					<span class="fl">哆啦A梦</span>
					<span class="fr">2017-2-13 21:13</span>
					<div class="spec">
						<span>大地蓝梦水乡蚕丝被</span>
						<span>这蚕丝被摸起来很舒服，睡起来也很舒服，这材料货正价实</span>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="sethead"><img src="./image/sethead.png"></div>
			<div class="specific">
				<div class="specific-div">
					<span class="fl">哆啦A梦</span>
					<span class="fr">2017-2-13 21:13</span>
					<div class="spec">
						<span>大地蓝梦水乡蚕丝被</span>
						<span>这蚕丝被摸起来很舒服，睡起来也很舒服，这材料货正价实</span>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="sethead"><img src="./image/sethead.png"></div>
			<div class="specific">
				<div class="specific-div">
					<span class="fl">哆啦A梦</span>
					<span class="fr">2017-2-13 21:13</span>
					<div class="spec">
						<span>大地蓝梦水乡蚕丝被</span>
						<span>这蚕丝被摸起来很舒服，睡起来也很舒服，这材料货正价实</span>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
						<div><img src="./image/006.png"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-include="'./view/headfooter.html'"></div>
</div>

