
	<link rel="stylesheet" type="text/css" href="./assets/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./assets/css/order.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/details.css">
 
<div>
	<div class="nav">
		<div class="return"><a ng-click="jump('footer.class')"><img src="./image/return.png"></a></div>
		<p class="center">商品详情</p>
	</div>

	<div class="bor">
		<div class="photo padd">
			<div class="head-img"><img src="./image/0.png"></div>
			<div class="photo-font">
				<p>大地蓝蚕丝被100%双宫桑蚕丝夏凉空调被夏季夏天手工薄被子被单</p>
				<p>现价：￥666 <del>￥356</del></p>
				<div class="like">
					<div><img src="./image/like.png"></div>
					<p>收藏</p>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="padd">
			<div>
				<div class="header-font">商品介绍</div>
				<div class="table">
					<ul>
						<li>品牌名称：大地蓝</li>
						<li>产品参数：</li>
						<li>产品等级: 合格品 制造工艺: 绗缝 品牌: 大地蓝</li>
						<li>尺寸: 160x210cm【C款】 180x220cm    蚕丝种类: 桑蚕丝</li>
						<li>蚕丝长度: 短丝绵 被套织造工艺: 磨毛</li>
						<li>货号: ddl—jd001 适用季节: 子母被/四季被</li>
					</ul>
				</div>
				<div class="btn">
					<div>立即购买</div>
					<div><a href="shop.html">加入购物车</a></div>
				</div>
			</div>
		</div>
	</div>
	
</div>

</body>
</html>