
	<link rel="stylesheet" type="text/css" href="./assets/css/order.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/fahuo.css">
<div>
	<div class="nav">
		<div class="return"><a ng-click="jump('personcenter')"><img src="./image/return.png"></a></div>
		<p class="center">我的订单</p>
	</div>

	<div class="head">
		<div><a ng-click="jump('order')">全部订单</a></div>
		<div><a ng-click="jump('wait')">等待付款</a></div>
		<div><a ng-click="jump('fahuo')">等待发货</a></div>
		<div><a ng-click="jump('tuikuan')">已退款</a></div>
	</div>

	<div class="header">
		<div>
			<div class="font">
				<p><b>订单编号：GHEUFB5624555</b></p>
				<p>下单时间：2017.2.16</p>
				<p class="fr">等待付款</p>
			</div>
			<div class="img-div">
				<div class="img"><img src="./image/006.png"></div>
				<p>大地蓝蚕丝被100%桑蚕长丝手工等品春秋被子
				母被儿童冬被芯</p>
				<div class="money">￥666</div>
			</div>
			<div class="btn">
				<div class="btn1 b">去付款</div>
				<div class="btn2 b" >取消订单</div>
			</div>
		</div>

		<div>
			<div class="font">
				<p><b>订单编号：GHEUFB5624555</b></p>
				<p>下单时间：2017.2.16</p>
				<p class="fr">已付款</p>
			</div>
			<div class="img-div">
				<div class="img"><img src="./image/006.png"></div>
				<p>大地蓝蚕丝被100%桑蚕长丝手工等品春秋被子
				母被儿童冬被芯</p>
				<div class="money">￥666</div>
			</div>
			<div class="btn">
				<div class="btn1 b">去付款</div>
				<div class="btn2 b" >取消订单</div>
			</div>
		</div>

		<div>
			<div class="font">
				<p><b>订单编号：GHEUFB5624555</b></p>
				<p>下单时间：2017.2.16</p>
				<p class="fr">等待付款</p>
			</div>
			<div class="img-div">
				<div class="img"><img src="./image/006.png"></div>
				<p>大地蓝蚕丝被100%桑蚕长丝手工等品春秋被子
				母被儿童冬被芯</p>
				<div class="money">￥666</div>
			</div>
			<div class="btn">
				<div class="btn1 b">去付款</div>
				<div class="btn2 b" >取消订单</div>
			</div>
		</div>
	</div>


</div>
