
<link rel="stylesheet" type="text/css" href="./assets/css/login.css">
<link rel="stylesheet" type="text/css" href="./assets/css/home.css">

<div class="dadi" ng-swipe-left="jump('footer.class')">
	
	<div ng-include="'./view/headnav.html'"></div>

	<div class="header">
		<div class="banner"><img src="./image/banner01.png"></div>
	</div>

	<div class="contents">
		<div class="new">
			<div class="new-div">
				<span class="i"></span>
				<span>新品上架</span>
			</div>
			<div>
				<ul class="new-ul">
					<li>
						<div><img src="./image/01.png"></div>
						<p>蚕丝被</p>
					</li>
					<li>
						<div><img src="./image/02.png"></div>
						<p>套件</p>
					</li>
					<li>
						<div><img src="./image/03.png"></div>
						<p>枕芯枕套</p>
					</li>
					<li>
						<div><img src="./image/04.png"></div>
						<p>被芯</p>
					</li>
				</ul>
			</div>
		</div>	

		<div class="hot new">
			<div class="new-div">
				<span class="i"></span>
				<span>热卖商品</span>
				<span class="fr">更多></span>
			</div>

			<div class="self">
				
					<div class="fl self-left-img">
						<img src="./image/003.png">
						<p class="center">大地蓝珊瑚绒毯</p>
					</div>
					<div class="fr self-right-img">
						<img src="./image/006.png">
						<p class="center">梦水乡系列</p>
					</div>
			</div>
		</div>

		<div class="sole new">
			<div class="new-div">
				<span class="i"></span>
				<span>限时促销</span>
			</div>

			<div class="self">
					<div class="fl self-left-img">
						<img src="./image/003.png">
						<p class="center">大地蓝珊瑚绒毯</p>
						<p class="center">市场价：￥<del>1158</del>元</p>
						<p class="center">本店价：<span>￥1020元</span></p>
					</div>
					<div class="fr self-right-img">
						<img src="./image/006.png">
						<p class="center">梦水乡系列</p>
						<p class="center">市场价：￥<del>856</del>元</p>
						<p class="center">本店价：<span>￥700元</span></p>
					</div>
			</div>
		</div>
	</div>
	<!-- <div ng-include="'./view/headfooter.html'"></div> -->
	<!-- <div ui-view class="home"></div> -->
</div>
