<!DOCTYPE html>
<html>
<head>
	<title>付款</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="./css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./css/order.css">
	<link rel="stylesheet" type="text/css" href="./css/comment.css">
	<link rel="stylesheet" type="text/css" href="./css/pay.css">
</head>
<body>

<div>
	<div class="nav">
		<div class="return"><a href="home.html"><img src="./image/return.png"></a></div>
		<p class="center">付款</p>
	</div>

	<div>
		<div class="first-font pad">
				<div class="pay-img"><img src="./image/jia.png"></div>
				<div class="pay-font">新增收货地址</div>
		</div>

		<div class="two-font pad">
			<div>订单详情</div>
			<div>产品名称：难忘今宵蚕丝被(5-6kg)</div>
			<div>购买数量：1</div>
			<div>交易金额：<span>￥6666</span></div>
		</div>

		<div class="two-font pad">
			<div class="change">选择支付方式</div>
			<div class="change">
				<div class="z"><img src="./image/z.png"></div>
				<div class="fl z-font">
					<p>支付宝客户端支付</p>
					<p>推荐已安装支付宝客户端的用户使用</p>
				</div>
				<div class="yes"><img src="./image/yes.png"></div>
			</div>

			<div class="change">
				<div class="z"><img src="./image/y.png"></div>
				<div class="fl z-font">
					<p>银联手机支付</p>
					<p>支持所有银联储蓄卡、信用卡支付</p>
				</div>
				
			</div>

			<div class="change">
				<div class="z"><img src="./image/h.png"></div>
				<div class="fl z-font">
					<p>货到付款</p>
					<p>支持货到付款服务</p>
				</div>
				
			</div>
		</div>

		<div class="pay pad">
			<div class="pay-div">
				<p class="fl">使用账户余额</p>
				<p class="fr">￥860.00</p>
				<div class="rel"><img src="./image/return1.png"></div>
			</div>
		</div>

		<div class="btn-foot"><a href="receiving.html">确认支付</a></div>

	</div>
</div>

</body>
</html>