
	<link rel="stylesheet" type="text/css" href="./assets/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./assets/css/personcenter.css" />
	<link rel="stylesheet" type="text/css" href="./assets/css/xingxi.css">

<div>
	<div class="nav">
		<div class="return"><a ng-click="jump('setting')"><img src="./image/return.png"></a></div>
		<p class="center">基本信息</p>
	</div>

	<div class="head">
		<div>
			<div class="padd">
				<div class="wode">
					<div class="img-right"><img src="./image/11.png"></div>
					<span>头像</span>
					<div class="fr"><img src="./image/return1.png"></div>
					<div class="fr sethead"><img src="./image/sethead.png"> </div>
				</div>
			</div>

			<div class="padd">
				<div class="wode">
					<div class="img-right"><img src="./image/22.png"></div>
					<span>昵称</span>
					<div class="fr">
						<img src="./image/return1.png">
					</div>
					<div class="fr font">
						<span id="a" class="username">多啦不萌</span>
					</div>
				</div>
			</div>

			<div class="padd">
				<div class="wode">
					<div class="img-right"><img src="./image/33.png"></div>
					<span>性别</span>
					<div class="fr"><img src="./image/return1.png"></div>
					<div class="fr font">
						<span>女</span>
					</div>
				</div>
			</div>

			<div class="padd">
				<div class="wode">
					<div class="img-right"><img src="./image/44.png"></div>
					<span>用户名</span>
					<div class="fr"><img src="./image/return1.png"></div>
					<div class="fr font">
						<span>82082088200</span>
					</div>
				</div>
			</div>

		</div>
		
	</div>
</div>

