
<head>
	<link rel="stylesheet" type="text/css" href="./assets/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="./assets/css/login.css" />
	<link rel="stylesheet" type="text/css" href="./assets/css/zhuce.css">
</head>


<div class="zhuce">
	<div class="nav">
			<div class="return">
				<a href="login.html">
					<img src="./image/return.png">
				</a>
			</div>
	</div>

	<div class="head">
			<div class="head-img">
				<img src="./image/zhuce.png">
			</div>

			<div class="login">
				<ul class="login-ul">
					<li>
						<div class="login-img">
							<img src="./image/name.png">
						</div>
						<div class="input">
							<input type="text" name="" placeholder="用户名/手机号">
						</div>
					</li>
					<li>
						<div class="login-img">
							<img src="./image/pwd.png">
						</div>
						<div class="input">
							<input type="text" name="" placeholder="密码">
						</div>
					</li>
					<li>
						<div class="login-img">
							<img src="./image/pwd.png">
						</div>
						<div class="input">
							<input type="text" name="" placeholder="密码">
						</div>
					</li>
					
				</ul>
				
				<div class="denglu">
					<a ng-click="jump('login')">注册</a>
				</div>

			</div>

			<a ng-click="jump('login')">已有帐号，点此登录</a>
	</div>
</div>
